# Node.js dependencies
node_modules/

# NPM logs and cache
npm-debug.log*
.npm
*.log

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Mac specific
.DS_Store

# IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Debug logs
logs/